<div data-controller="mermaid">
  <textarea data-mermaid-target="input" class="is-hidden" readonly="true">
    <%= class_diagram.code %>
  </textarea>

  <div data-mermaid-target="output">
  </div>
</div>
