<p style="color: green"><%= notice %></p>

<div>
  <% if @model %>
    <%= link_to "Back", project_model_path(@project, @model) %>
  <% else %>
    <%= link_to "Back", project_path(@project) %>
  <% end %>
</div>

<%= render @class_diagram %>
