<p style="color: green"><%= notice %></p>

<div>
  <% if @model %>
    <%= link_to "Back", plan_model_path(@plan, @model) %>
  <% else %>
    <%= link_to "Back", plan_path(@plan) %>
  <% end %>
</div>

<%= render @class_diagram %>
