<% if models.present? %>
  <div class="row columns is-multiline">
    <div class="column is-3">
      <div class="card is-equal-height">
        <div class="card-content">
          <div class="content">
            <p>
              <%= link_to "New Model", new_project_model_path(project.slug) %>
            </p>
            <p>
              Create a new Model.
            </p>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'model', collection: models, locals: { project: project } %>
  </div>
<% else %>
  <div class="columns">
    <div class="column">
      <p><%= link_to "Start", new_project_model_path(project.slug) %> by creating a new Model.</p>
    </div>
  </div>
<% end %>
