<div class="block">
  <%= link_to "New Project", new_project_path %>
</div>

<% if projects.present? %>
  <div class="block" data-controller="search">
    <div class="block">
      <p class="control has-icons-left">
        <input class="input" type="text" placeholder="Search" data-action="keyup->search#find" data-search-target="input">
        <span class="icon is-left">
          <i class="fas fa-search" aria-hidden="true"></i>
        </span>
      </p>
    </div>

    <div class="block">
      <%= render partial: 'project', collection: projects %>
    </div>
  </div>
<% end %>
