<div class="columns">
  <div class="column">
    <div class="box">
      <%= render "projects", projects: @page.projects %>
    </div>
  </div>
  <div class="column is-three-fifths">
    <div class="box"></div>
  </div>
  <div class="column">
    <div class="box">
      <div class="block">
        <%= link_to "Projects", projects_path %>
      </div>
      <div class="block">
        <%= link_to "Archived Projects", archived_projects_path %>
      </div>
    </div>
  </div>
</div>
