<div class="columns">
  <div class="column has-text-centered">
    <h1 class="title">Dashboard</h1><br>
  </div>
</div>

<div class="columns">
  <div class="column">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li class="is-active"><a href="#" aria-current="page">Dashboard</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="row columns is-multiline">
  <div class="column is-3">
    <div class="card is-equal-height">
      <div class="card-content">
        <div class="content">
          <%= link_to "Projects", projects_path %>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-3">
    <div class="card is-equal-height">
      <div class="card-content">
        <div class="content">
          <%= link_to "Projects Archive", archived_projects_path %>
        </div>
      </div>
    </div>
  </div>
</div>
