<div class="block">
  <div class="is-flex is-flex-wrap-wrap">
    <% values.each do |value| %>
      <div class="block pr-2">
        <%= render "ui/components/simple_delete_card", name: value[:name], delete_path: value[:delete_path] %>
      </div>
    <% end %>
  </div>
</div>
