<div id="<%= dom_id attribute_type %>">
  <p>
    <strong>Name:</strong>
    <%= attribute_type.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= attribute_type.description %>
  </p>

</div>
