<h1>Editing attribute type</h1>

<%= render "form", attribute_type: @attribute_type %>

<br>

<div>
  <%= link_to "Show this attribute type", @attribute_type %> |
  <%= link_to "Back to attribute types", attribute_types_path %>
</div>
