<div id="<%= dom_id model_attribute %>">
  <p>
    <strong>Name:</strong>
    <%= model_attribute.name %>
  </p>

  <p>
    <strong>Kind:</strong>
    <%= model_attribute.kind %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= model_attribute.description %>
  </p>
</div>
