<div id="<%= dom_id model_attribute %>">
  <p>
    <strong>Name:</strong>
    <%= model_attribute.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= link_to model_attribute.attribute_type.name, model_attribute.attribute_type %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= model_attribute.description %>
  </p>
</div>
