<div class="column is-3">
  <div class="card is-equal-height">
    <div class="card-content">
      <div class="content">
        <p>
          <%= project.name %>
        </p>
        <p>
          <%= project.description %>
        </p>
      </div>
    </div>
    <footer class="card-footer">
      <%= link_to "Restore", archived_project_path(project.slug, project: {restore: true}), class: "card-footer-item", data: { "turbo-method": :put } %>
      <%= link_to "Delete", archived_project_path(project.slug), class: "card-footer-item", data: { "turbo-method": :delete } %>
    </footer>
  </div>
</div>
