<div class="columns">
  <div class="column">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><a href="<%= root_path %>">Projects</a></li>
        <li class="is-active"><a href="#" aria-current="page">Archive</a></li>
      </ul>
    </nav>
  </div>
</div>

<div class="table-container">
  <table class="table">
    <tbody>
      <tr>
        <td class="pl-0 pr-4">
          <%= link_to "Leave archive", root_path %>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<% if @page.projects.blank? %>
  <div class="columns">
    <div class="column">
      <p>Projects archive is empty</p>
    </div>
  </div>
<% else %>
  <div class="block">
    <input class="input" type="text" placeholder="Search">
  </div>

  <div id="projects">
    <%= render partial: 'project', collection: @page.projects %>
  </div>
<% end %>
