<p style="color: green"><%= notice %></p>

<h1>Archived projects</h1>

<%= link_to "Projects", plans_path %>

<div id="plans">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", archived_project_path(project) %>
    </p>
  <% end %>
</div>
