<p style="color: green"><%= notice %></p>

<%= render "ui/components/breadcrumbs",
    breadcrumbs: archived_projects_breadcrumbs(page_code: :index),
    current_page_name: "Archive" %>

<%= render "ui/elements/title", title: "Archived projects" %>

<%= render "ui/components/simple_cards_list", values: archived_projects_simple_card_values(@projects) %>
