<p style="color: green"><%= notice %></p>

<h1>Archived projects</h1>

<%= link_to "Projects", projects_path %>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", archived_project_path(project) %>
    </p>
  <% end %>
</div>
