<p style="color: green"><%= notice %></p>

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><%= link_to "Entrypoint", root_path %></li>
    <li class="is-active"><a href="#" aria-current="page">Archive</a></li>
  </ul>
</nav>

<h1 class="title">Archived projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <div class="block">
      <%= render project %>

      <%= link_to "Show this project", archived_project_path(project) %>
    </div>
  <% end %>
</div>
