<%= form_with(model: project) do |form| %>
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <%= form.text_field :name, class: "input", placeholder: "Name" %>
    </div>
  </div>

  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <%= form.text_field :description, class: "input", placeholder: "Description" %>
    </div>
  </div>

  <div class="field is-grouped mt-5">
    <div class="control">
      <%= form.button class: "button is-link is-inverted" %>
    </div>
  </div>
<% end %>
