<div class="column is-3">
  <div class="card is-equal-height">
    <div class="card-content">
      <div class="content">
        <p>
          <%= model.name %>
        </p>
        <p>
          <%= model.description %>
        </p>
      </div>
    </div>
    <footer class="card-footer">
      <%= link_to "Show", project_model_path(project.slug, model.slug), class: "card-footer-item" %>
    </footer>
  </div>
</div>
