<div class="row columns is-multiline">
  <div class="column is-3">
    <div class="card is-equal-height">
      <div class="card-content">
        <div class="content">
        <p>
            <%= link_to "New Project", new_project_path %>
        </p>
        <p>
            Create a new Project.
        </p>
      </div>
    </div>
  </div>
</div>
  <%= render partial: 'project', collection: projects %>
</div>
