<div id="projects" class="columns">
  <div class="column is-one-fifth"><%= project.name %></div>
  <div class="column"><%= project.description %></div>
  <div class="column"><%= project.nice_create_time %></div>
</div>
