<tr data-search-target="value" data-value="<%= project.name %>">
  <td><%= project.name %></td>
  <td><%= project.description %></td>
  <td><%= link_to 'Show', project_path(project.slug) %></td>
</tr>
