<div class="columns">
  <div class="column"></div>
  <div class="column is-three-fifths">
    <div class="box">
      <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
          <li>
            <%= link_to "Dashboard", root_path %>
          </li>
          <li class="is-active"><a href="#" aria-current="page">Projects</a></li>
        </ul>
      </nav>

      <div class="block">
        <%= render "projects", projects: @page.projects %>
      </div>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <div class="block">
        <%= link_to "New", new_project_path %>
      </div>
      <div class="block">
        <%= link_to "Archived Projects", archived_projects_path %>
      </div>
    </div>
  </div>
</div>
