<div class="columns">
  <div class="column has-text-centered">
    <h1 class="title">Projects</h1><br>
  </div>
</div>

<div class="columns">
  <div class="column">
    <nav class="breadcrumb" aria-label="breadcrumbs">
      <ul>
        <li><%= link_to "Dashboard", root_path %></li>
        <li class="is-active"><a href="#" aria-current="page">Projects</a></li>
      </ul>
    </nav>
  </div>
</div>

<%= render "projects", projects: @page.projects %>
