<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li class="is-active"><a href="#" aria-current="page">Entrypoint</a></li>
  </ul>
</nav>

<h1 class="title">Entrypoint</h1>

<div class="block">
  <aside class="menu">
    <ul class="menu-list">
      <li><%= link_to "Projects", projects_path %></li>
      <li><%= link_to "Archive", archived_projects_path %></li>
    </ul>
  </aside>
</div>
